---
layout: default
title: Tutorials
permalink: /categories/tutorials/
---

<div class="category-page">
  <div class="category-header">
    <h1>{{ page.title }}</h1>
    <p>Tutorials and guides for busy professionals who need to implement AI solutions between their 2:00 and 2:15 PM meetings. No steps longer than can be completed while pretending to listen to someone discuss quarterly earnings.</p>
  </div>
  
  <div class="category-posts">
    {% for post in site.categories['tutorials'] %}
      <article class="post-item">
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <div class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</div>
        {% if post.author %}
          <div class="post-author">{{ post.author }}</div>
        {% endif %}
      </article>
    {% endfor %}
  </div>
  
  <div class="category-nav">
    <a href="{{ site.baseurl }}/" class="back-link">← Back to all posts</a>
  </div>
</div> 