<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-2">
        <h3>Categories</h3>
        <ul class="category-list">
          <li><a href="{{ site.baseurl }}/categories/industry-developments">Industry Developments</a></li>
          <li><a href="{{ site.baseurl }}/categories/experiments">Experiments</a></li>
          <li><a href="{{ site.baseurl }}/categories/tools">Tools</a></li>
          <li><a href="{{ site.baseurl }}/categories/tutorials">Tutorials</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h3>Connect</h3>
        {%- include social.html -%}
        <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
    </div>
  </div>
</footer> 