---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-container">
    <header class="post-header">
      {% if page.categories %}
      <div class="post-categories">
        {% for category in page.categories %}
        <span class="post-category">{{ category }}</span>
        {% endfor %}
      </div>
      {% endif %}
      
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      
      <div class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span class="post-author" itemprop="author">{{ page.author }}</span>
        {%- endif -%}
      </div>
    </header>

    {% if page.image %}
    <div class="post-image">
      <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="featured-image">
    </div>
    {% endif %}

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <div class="post-navigation">
      <a href="{{ site.baseurl }}/" class="back-to-blog">← Back to blog</a>
    </div>
  </div>
</article> 